@charset "UTF-8";
.botonEnviar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }

.h1 {
  font-family: degular,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2C2C2C;
  font-size: 5rem;
  justify-items: center; }

.h2 {
  font-family: degular,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2C2C2C;
  font-size: 3rem;
  padding: 1rem 0rem; }

.h4 {
  font-family: jost,sans-serif;
  font-weight: 300;
  color: #2C2C2C;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5rem 0rem; }

.h5 {
  font-family: jost,sans-serif;
  font-weight: 400;
  color: #2C2C2C;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 0rem; }

p {
  font: normal 16px Montserrat;
  line-height: 1.5rem; }

.gridProyectos main div .tituloProyecto {
  font: 400 16px Jost;
  color: #2C2C2C;
  text-transform: uppercase;
  text-decoration: none; }

@media only screen and (min-width: 600px) {
  .navbar {
    z-index: 1;
    background-color: #ffffff; }
  .containerMain {
    height: 92vh;
    min-width: 100%;
    justify-content: center;
    overflow: hidden; }
    .containerMain .animacionIndex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      min-height: 100vh;
      row-gap: 10rem;
      min-width: 100%;
      justify-self: center;
      justify-items: center; }
    .containerMain .tituloLanding {
      position: relative;
      z-index: 2;
      top: 42%;
      left: 42%;
      display: inline-block;
      justify-items: center;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.08), 0px 18px 23px rgba(0, 0, 0, 0.08); } }

@media only screen and (max-width: 767px) {
  .navbar {
    z-index: 1;
    background-color: #ffffff; }
  .containerMain {
    height: 92vh;
    min-width: 100%;
    justify-content: center;
    overflow: hidden; }
    .containerMain .animacionIndex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      min-height: 100vh;
      row-gap: 10rem;
      min-width: 100%;
      justify-self: center;
      justify-items: center; }
    .containerMain .tituloLanding {
      position: relative;
      z-index: 2;
      top: 42%;
      left: 42%;
      display: inline-block;
      justify-items: center;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3), 0px 8px 13px rgba(0, 0, 0, 0.08), 0px 18px 23px rgba(0, 0, 0, 0.08); } }

@media only screen and (max-width: 767px) {
  .containerMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    min-width: 100%;
    column-gap: 1rem;
    grid-template-areas: "titulo titulo" "foto1 foto1" "foto2 foto2" "foto3 foto3" "footer footer";
    justify-items: center;
    align-items: center;
    justify-self: center; }
    .containerMain .tituloLanding {
      grid-area: titulo;
      display: block;
      justify-items: center;
      align-self: center; }
    .containerMain .foto1 {
      grid-area: foto1;
      display: block; }
      .containerMain .foto1 .fotoUno {
        height: 200px;
        width: 400px;
        object-fit: cover; }
    .containerMain .foto2 {
      grid-area: foto2;
      display: block; }
      .containerMain .foto2 .fotoDos {
        height: 200px;
        width: 400px;
        object-fit: cover; }
    .containerMain .foto3 {
      grid-area: foto3;
      display: block; }
      .containerMain .foto3 .fotoTres {
        height: 200px;
        width: 400px;
        object-fit: cover; } }

@media only screen and (min-width: 1024px) {
  .gridProyectos {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: 0.2fr 1.8fr 0fr; }
    .gridProyectos header {
      grid-area: header;
      width: auto; }
    .gridProyectos main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      padding-top: 2rem; }
      .gridProyectos main div #tituloProyectos {
        display: flex;
        justify-content: center;
        padding: 2rem; }
      .gridProyectos main .containerCards {
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: center; }
        .gridProyectos main .containerCards #animacionCard:hover {
          transform: scale(1.1); }
        .gridProyectos main .containerCards .proyectoCard1 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
        .gridProyectos main .containerCards .proyectoCard2 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
        .gridProyectos main .containerCards .proyectoCard3 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
  footer {
    grid-area: footer; } }

@media only screen and (max-width: 767px) {
  .gridProyectos {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: 0.2fr 1.8fr 0fr; }
    .gridProyectos header {
      grid-area: header;
      width: auto; }
    .gridProyectos main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: center; }
      .gridProyectos main div #tituloProyectos {
        display: flex;
        justify-content: center;
        padding: 2rem; }
      .gridProyectos main .containerCards {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center; }
        .gridProyectos main .containerCards .proyectoCard1 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
          .gridProyectos main .containerCards .proyectoCard1 img {
            height: 200px;
            width: 400px;
            object-fit: cover; }
        .gridProyectos main .containerCards .proyectoCard2 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
          .gridProyectos main .containerCards .proyectoCard2 img {
            height: 200px;
            width: 400px;
            object-fit: cover; }
        .gridProyectos main .containerCards .proyectoCard3 {
          display: flex;
          flex-direction: column;
          margin: 20px; }
          .gridProyectos main .containerCards .proyectoCard3 img {
            height: 200px;
            width: 400px;
            object-fit: cover; }
  footer {
    grid-area: footer; } }

@media only screen and (min-width: 1024px) {
  .gridContacto {
    display: grid;
    grid-template-areas: "contactos formulario";
    padding: 5rem; }
    .gridContacto .contactos {
      grid-template-areas: contactos;
      justify-content: end; }
    .gridContacto .containerContacto {
      grid-template-areas: formulario; }
      .gridContacto .containerContacto h1 {
        padding: 1rem 0rem; }
      .gridContacto .containerContacto .formulario {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none; }
        .gridContacto .containerContacto .formulario div {
          padding: 0rem 2rem 2rem 0rem; }
          .gridContacto .containerContacto .formulario div .campo {
            display: block;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            border-bottom: solid 1px #2C2C2C;
            font-family: Montserrat;
            font-size: 1rem;
            height: 2rem;
            width: 32rem; }
        .gridContacto .containerContacto .formulario .botonEnviar {
          background-color: #ffffff;
          border: 1px solid #2C2C2C;
          border-radius: 150px;
          padding: 10px 20px 10px 20px;
          font-family: jost,sans-serif;
          font-weight: 400;
          color: #0C0C0C;
          font-size: 16px;
          text-transform: uppercase; }
          .gridContacto .containerContacto .formulario .botonEnviar .botonEnviar:active {
            background-color: #3e8e41;
            box-shadow: 1 2px #d8d8d8;
            transform: translateY(4px); }
          .gridContacto .containerContacto .formulario .botonEnviar .botonEnviar:hover {
            background-color: #e6e6e6; } }

@media only screen and (max-width: 767px) {
  .gridContacto {
    display: grid;
    grid-template-areas: "formulario" "contactos";
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    min-height: 100vh;
    min-width: 100%;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin-top: 1rem; }
  .contactos {
    grid-template-areas: contactos;
    justify-items: end;
    gap: 2rem;
    display: flex; }
    .contactos div .body {
      display: none; }
    .contactos div a {
      text-decoration: none; }
  .containerContacto {
    grid-template-areas: formulario;
    justify-content: center; }
  .formulario {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none; }
  .campo {
    display: block;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: solid 1px #444343;
    font-family: Montserrat;
    font-size: 14px;
    height: 25px;
    width: 280px; }
  .input {
    padding: 0.8rem; }
  .botonEnviar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #2C2C2C;
    border-radius: 150px;
    padding: 10px 20px 10px 20px;
    font-family: jost,sans-serif;
    font-weight: 400;
    color: #0C0C0C;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: end;
    margin: 1rem; } }

@media only screen and (min-width: 1024px) {
  main .gridSobre {
    padding: 2rem 0rem 0rem 2rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "foto container";
    height: 80vh;
    justify-content: center;
    align-items: center; }
    main .gridSobre .fotoPresentación {
      grid-template-areas: foto;
      display: block;
      justify-items: center;
      align-self: center;
      padding-left: 30rem;
      height: 200px;
      width: 400px;
      object-fit: cover; }
    main .gridSobre .containerSobre {
      grid-template-areas: container;
      display: block;
      justify-items: center;
      align-self: center;
      padding-left: 3rem;
      width: 640px; } }

@media only screen and (max-width: 767px) {
  main .gridSobre {
    display: grid;
    grid-template-areas: "foto" "container";
    min-height: 100vh;
    min-width: 100%;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin-top: 1rem; }
    main .gridSobre .fotoPresentación {
      grid-template-areas: foto;
      display: block;
      justify-items: center;
      align-self: center;
      padding-left: 30rem; }
    main .gridSobre .containerSobre {
      grid-template-areas: container;
      display: block;
      justify-items: center;
      align-self: center;
      padding-left: 3rem; }
      main .gridSobre .containerSobre p {
        margin: 1rem 1rem 1rem 0rem; } }

@media only screen and (min-width: 1024px) {
  main .gridProyecto1 {
    min-height: 100%;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "info fotos";
    margin-top: 1rem;
    justify-self: center;
    gap: 10rem; }
    main .gridProyecto1 .infoProUno {
      grid-template-areas: info;
      display: block;
      position: fixed;
      align-self: flex-start;
      justify-content: center;
      width: 28rem;
      margin-left: 8rem;
      padding-top: 3rem; }
    main .gridProyecto1 .fotos {
      grid-template-areas: fotos;
      display: block;
      justify-content: end;
      margin-top: 3rem;
      margin-left: 42rem; }
      main .gridProyecto1 .fotos img {
        padding: 1rem; } }

@media only screen and (max-width: 767px) {
  main .gridProyecto1 {
    min-height: 100%;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "info" "fotos";
    margin-top: 1rem;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: center; }
    main .gridProyecto1 .infoProUno {
      grid-template-areas: info;
      align-self: flex-start;
      justify-content: center;
      width: 28rem; }
    main .gridProyecto1 .fotos {
      grid-template-areas: fotos;
      justify-content: center; }
      main .gridProyecto1 .fotos img {
        justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .containerMain {
    height: 92vh;
    min-width: 100%;
    justify-content: center;
    overflow: hidden; }
    .containerMain .animacionIndex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      min-height: 100vh;
      row-gap: 10rem;
      min-width: 100%;
      animation-name: girar;
      animation-iteration-count: infinite;
      animation-duration: 30s;
      justify-self: center;
      justify-items: center; }
  @keyframes girar {
    from {
      transform: translatey(100px); }
    to {
      transform: translatey(-1000px); } } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  background-color: #ffffff;
  border-bottom: solid 2px #2C2C2C; }
  header .logo {
    height: 3.2rem; }
  header nav ul li {
    font: normal normal normal 1rem Jost;
    list-style: none;
    display: inline-block;
    padding: 1rem; }
    header nav ul li a {
      text-transform: uppercase;
      color: #2C2C2C;
      text-decoration: none; }

body {
  align-self: center;
  min-height: 100%; }
  body main .tituloLanding {
    grid-area: titulo;
    display: block;
    justify-items: center;
    align-self: center; }
  body main #tituloGaleano {
    color: #f5ac58; }
  body main .tituloFotografia {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1rem;
    color: #2C2C2C;
    text-transform: uppercase;
    display: block;
    justify-items: center;
    color: #f5ac58; }

footer {
  background-color: #f5ac58;
  background-color: #f5ac58;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: jost;
  font-weight: 400;
  width: 100%;
  margin-top: 1rem;
  bottom: 0;
  left: 0;
  right: 0; }
