

.animation{
   animation-name: girar;
   animation-iteration-count: infinite;
   animation-duration: 10s;
}

.animation{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 1rem; 
   align-content: space-between;
   margin: 2.5rem 0rem 2rem 0rem;
   min-height: 100vh;      
   min-width: 100%;
}

/*@keyframes infinite{
   0%{
      position: 50% 0;
   }
   100%{
      position: 50% -1000px;
   }
}*/

@keyframes girar{
   from{
      transform: translatey(100px);
   }
   to{
      transform: translatey(0);
   }
}



h1{
   position: absolute;
   margin-top: 10px;
   z-index: 1;
}