@import 'utilities/variables';
@import 'utilities/fuentes';
@import 'utilities/grids';
@import 'utilities/animaciones';



// reset


*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
} 

main{
   margin-top: 5rem;
}



//estilos header y menu

header{
   border-bottom: solid 2px $color-negro;
   .logo{
      height: 3.2rem;
   }
   nav{
      ul{
         li{
            font: normal normal normal 1rem Jost;
               list-style: none;
               display: inline-block;
               padding: 1rem;
            a{
               text-transform: uppercase;
               color: $color-negro;
               text-decoration: none;
            }
         }
      }
   }
}


//estilos main
body{
   align-self: center;
   min-height: 100%;
   main{
      .tituloGaleano{
         color: $color-naranja;
         justify-content: center;
      }
         .tituloFotografia{
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            letter-spacing: 1rem;
            color: $color-negro;
            text-transform: uppercase;
            justify-items: center;
            color: $color-naranja;
         } 
      }
}



//estilos footer
footer{
   background-color: $color-naranja;
   padding-top: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-family: jost;
   font-weight: 400;
   width: 100%;
   margin-top: 1rem;
   bottom: 0;
   left: 0;
   right: 0;
}

