//INDEX

//VISTA DESKTOP INDEX
@media only screen and (min-width: 1024px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 50s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//VISTA TABLET INDEX
@media only screen and (min-width: 768px) and (max-width:1023px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 50s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//VISTA MOBILE INDEX
@media only screen and (max-width: 767px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 50s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//Animaciones
@keyframes girar{
   from{
      transform: translatey(50px);
   }
   to{
      transform: translatey(-2800px);
   }
}

.botonEnviar:active {
   background-color: #b4b4b4;
   box-shadow: 0 5px #666;
   transform: translateY(0px);
}