//INDEX

//VISTA DESKTOP INDEX
@media only screen and (min-width: 1024px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 30s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//VISTA TABLET INDEX
@media only screen and (min-width: 768px) and (max-width:1023px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 30s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//VISTA MOBILE INDEX
@media only screen and (max-width: 767px){
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         animation-name: girar;
         animation-iteration-count: infinite;
         animation-duration: 30s;
         justify-self: center;
         justify-items: center;
      }
   }
}

//Animacion
@keyframes girar{
   from{
      transform: translatey(0px);
   }
   to{
      transform: translatey(-1800px);
   }
}