//INDEX

//VISTA DESKTOP INDEX

@media only screen and (min-width: 1024px){
   .navbar{
      z-index: 1;
      background-color: #ffffff;
   }
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-content: center;
         justify-items: center;
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 999;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}

//VISTA TABLET INDEX
@media only screen and (min-width: 768px) and (max-width:1023px){
   .navbar{
      z-index: 1;
      background-color: #ffffff;
   }
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-self: center;
         justify-items: center;
         .fotoIndex{
            width: 200px;
         }
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 999;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}


//VISTA MOBILE INDEX
@media only screen and (max-width: 767px){
   .navbar{
      z-index: 1;
      background-color: #ffffff;
   }
   .containerMain{
      height: 100vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-self: center;
         justify-items: center;
         .fotoIndex{
            width: 150px;
         }
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 999;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}



//PORTFOLIO

//VISTA DESKTOP PORTFOLIO
@media only screen and (min-width:1024px){
   .gridProyectos{
         display: grid;
         height: 100vh;
         width: 100%;
         grid-template-columns: repeat(3, 1fr);
         grid-template-areas: "header header header"
                              "main main main"
                              "footer footer footer" ;
         grid-template-rows: 0.2fr 1.8fr 0fr;
         header{
            grid-area: header;
            width: 100%;
         }
         main{
            grid-area: main;
            @include flexCol;
            padding-top: 2rem;
            div{
               #tituloProyectos{
                  @include flexJustCenter;
                  padding: 2rem;
               }
            }
            .containerCards{
               @include flexRow;
               @include flexJustCenter;
               #animacionCard{
                  &:hover{
                     transform: scale(1.1);
                  } 
               }
               .proyectoCard1{
                  @include flexCol;
                  margin: 20px;
               }
               .proyectoCard2{
                  @include flexCol;
                  margin: 20px;
               }
               .proyectoCard3{
                  @include flexCol;
                  margin: 20px;
               }
            }
         }
      }   
   footer{
      grid-area: footer;
   }
}

//VISTA MOBILE PORTFOLIO
@media only screen and (max-width: 767px){
   .gridProyectos{
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "header header header"
                           "main main main"
                           "footer footer footer" ;
      grid-template-rows: 0.2fr 1.8fr 0fr;

      header{
         grid-area: header;
         width: auto;
      }
      main{
         grid-area: main;
         @include flexCol;
         padding-top: 2rem;
         @include flexJustCenter;
         align-items: center;                     
         justify-self: center; 
         div{
            #tituloProyectos{
               @include flexJustCenter;
               padding: 2rem;
            }
         }
         .containerCards{
            @include flexCol;
            @include flexJustCenter;
            .proyectoCard1{
               @include flexCol;
               margin: 20px;
               img{
                  height: 200px;
                  width: 400px;
                  object-fit: cover;
               }               
            }
            .proyectoCard2{
               @include flexCol;
               margin: 20px;
               img{
                  height: 200px;
                  width: 400px;
                  object-fit: cover;
               }
            }
            .proyectoCard3{
               @include flexCol;
               margin: 20px;
               img{
                  height: 200px;
                  width: 400px;
                  object-fit: cover;
               }
            }
         }
      }
   }   
   footer{
      grid-area: footer;
   }

}



//CONTACTO

//VISTA DESKTOP CONTACTO
@media only screen and (min-width: 1024px){
   .gridContacto{
      display: grid;
      grid-template-areas: "contactos formulario";
      padding: 5rem;
      .contactos{
         grid-template-areas: contactos;
         justify-content: end;
      }
      .containerContacto{
         grid-template-areas: formulario;
         h1{
            padding: 1rem 0rem;
         }
         .formulario{
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            div{
               padding:0rem 2rem 2rem 0rem;
               .campo{
                  display: block;
                  border-top-style: none;
                  border-right-style: none;
                  border-left-style: none;
                  border-bottom: solid 1px $color-negro;
                  font-family: Montserrat ;
                  font-size: 1rem;
                  height: 2rem;
                  width: 32rem;
               }
            }
            .botonEnviar{
               background-color: map-get($map: $boton, $key: bg-boton);
               border: map-get($map: $boton, $key: border-boton);
               border-radius: map-get($map: $boton, $key: border-radius-boton);
               padding: map-get($map: $boton, $key: padding-boton);
               font-family: jost,sans-serif;
               font-weight: 400 ;
               color: #0C0C0C;
               font-size: 16px;
               text-transform: uppercase;
               .botonEnviar:active {
                  background-color: #3e8e41;
                  box-shadow: 1 2px #d8d8d8;
                  transform: translateY(4px);
               }
               .botonEnviar:hover {
                  background-color: #e6e6e6;
               }
            }
         }
      }
   }
}

//VISTA MOBILE CONTACTO
@media only screen and (max-width: 767px){
   .gridContacto{
      display: grid;
      grid-template-areas: "formulario"
                           "contactos";
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr;
      min-height: 100vh;
      min-width: 100%;
      justify-items: center;
      align-items: center;
      justify-self: center;
      margin-top: 1rem;
   }

   .contactos{
      grid-template-areas: contactos;
      justify-items: end;
      gap: 2rem;
      display: flex;
      div{
         .body{
           display: none;   
         }
         a{
            text-decoration: none;
         }
      }
   }

   .containerContacto{
      grid-template-areas: formulario;
      justify-content: center;
   }

   .formulario{
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
   }

   .campo{
      display: block;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom: solid 1px #444343;
      font-family: Montserrat ;
      font-size: 14px;
      height: 25px;
      width: 280px;
   }   
   
   .input{
      padding: 0.8rem;
   }

   .botonEnviar{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #2C2C2C;
      border-radius: 150px;
      padding: 10px 20px 10px 20px;
      font-family: jost,sans-serif;
      font-weight: 400 ;
      color: #0C0C0C;
      font-size: 16px;
      text-transform: uppercase;
      justify-content: end;
      margin: 1rem;
   }

   


}


//SOBRE MI

//VISTA DESKTOP SOBRE MI
@media only screen and (min-width: 1024px){
   main{
      .gridSobre{
         padding: 2rem 0rem 0rem 2rem;
         display: grid;
         grid-column-gap: 1rem; 
         grid-template-areas: "foto container";
         height: 80vh;
         justify-content: center;
         align-items: center;
         .fotoPresentación{
            grid-template-areas: foto;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 30rem;
            height: 200px;
            width: 400px;
            object-fit: cover;
         }
         .containerSobre{
            grid-template-areas: container;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 3rem;
            width: 640px;
         }
      }
   }
}

//VISTA MOBILE SOBRE MI
@media only screen and (max-width: 767px){
   main{
      .gridSobre{
         display: grid;
         grid-template-areas: "foto"
                              "container";
         min-height: 100vh;
         min-width: 100%;
         justify-items: center;
         align-items: center;
         justify-self: center;
         margin-top: 1rem;
         .fotoPresentación{
            grid-template-areas: foto;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 30rem;
         }
         .containerSobre{
            grid-template-areas: container;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 3rem;
            p{
               margin: 1rem 1rem 1rem 0rem;
            }
         }
      }
   }
}


//PROYECTO 1

//VISTA DESKTOP PROYECTO 1
@media only screen and (min-width: 1024px){
   main{
      .gridProyecto1{
         min-height: 100%;
         display: grid;
         grid-column-gap: 1rem; 
         grid-template-areas: "info fotos";
         margin-top: 1rem;
         justify-self: center;
         gap: 10rem;
         .infoProUno{
            grid-template-areas: info;
            display: block;
            position: fixed;
            align-self: flex-start;
            justify-content: center;
            width: 28rem;
            margin-left: 8rem;
            padding-top: 3rem;
         }
         .fotos{
            grid-template-areas: fotos;
            display: block;
            justify-content: end;
            margin-top: 3rem;
            margin-left: 42rem;
            img{
               padding: 1rem;
            }
         }
      }
   }
}

//VISTA MOBILE PROYECTO 2
@media only screen and (max-width: 767px){
   main{
      .gridProyecto1{
         min-height: 100%;
         display: grid;
         grid-column-gap: 1rem; 
         grid-template-areas: "info"
                              "fotos";
         margin-top: 1rem;
         gap: 1rem;
         justify-items: center;
         align-items: center;                     
         justify-content: center;
         .infoProUno{
            grid-template-areas: info;
            align-self: flex-start;
            justify-content: center;
            width: 28rem;
         }
         .fotos{
            grid-template-areas: fotos;
            justify-content: center;
            img{
               justify-content: center;

            }
         }
      }
   }  
}