
//INDEX

//VISTA DESKTOP INDEX
@media only screen and (min-width: 1024px){
   .navbar{
      z-index: 1;
      background-color: #ffffff;
   }
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-content: center;
         justify-items: center;
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 999;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}

//VISTA TABLET INDEX
@media only screen and (min-width: 768px) and (max-width:1023px){
   .navbar{
      z-index: 1;
      background-color: #ffffff;
   }
   .containerMain{
      height: 92vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-self: center;
         justify-items: center;
         .fotoIndex{
            width: 200px;
         }
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 999;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}

//VISTA MOBILE INDEX
@media only screen and (max-width: 767px){
   .navbar{
      z-index: 999;
      background-color: #ffffff;
   }
   .containerMain{
      height: 100vh;      
      min-width: 100%;
      justify-content: center;
      overflow: hidden;
      .animacionIndex{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
         min-height: 100vh;      
         row-gap: 10rem;
         min-width: 100%;
         justify-self: center;
         justify-items: center;
         .fotoIndex{
            width: 150px;
         }
      }
      .tituloLanding{
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 998;
         justify-items: center;
         position: absolute;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                      0px 8px 13px rgba(0,0,0,0.08),
                      0px 18px 23px rgba(0,0,0,0.08);
      }
   }
}



//PORTFOLIO

//VISTA DESKTOP PORTFOLIO
@media only screen and (min-width:1024px){
   header{
      width: 100%;
      .navbar{
         z-index: 1;
         background-color: #ffffff;
      }
   }
   main{
      #titulo{
         @include flexJustCenter;
         padding: 2rem 0rem 2rem 0rem;
      }
   }
   .containerCards{
      display: grid;
      height: 65vh;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      @include flexRow;
      @include flexJustCenter;
      #animacionCard{
         &:hover{
            transform: scale(1.1);
         } 
      }
      .proyectoCard1{
         @include flexCol;
         margin: 20px;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
      .proyectoCard2{
         @include flexCol;
         margin: 20px;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
      .proyectoCard3{
         @include flexCol;
         margin: 20px;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
   }
}

//VISTA TABLET PORTFOLIO
@media only screen and (min-width: 768px) and (max-width:1023px){
   header{
      width: 100%;
      .navbar{
         z-index: 1;
         background-color: #ffffff;
      }
   }
   main{
      #titulo{
         @include flexJustCenter;
         padding: 2rem 0rem 2rem 0rem;
         #tituloProyectos{
            font-size: 4rem;
         }  
      }
   }
   .containerCards{
      display: grid;
      height: 120vh;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      #animacionCard{
         &:hover{
            transform: scale(1.1);
         } 
      }
      .proyectoCard1{
         @include flexCol;
         margin: 1rem;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
      .proyectoCard2{
         @include flexCol;
         margin: 1rem;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
      .proyectoCard3{
         @include flexCol;
         margin: 1rem;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
      }
   }
}

//VISTA MOBILE PORTFOLIO
@media only screen and (max-width: 767px){
   header{
      width: 100%;
      .navbar{
         z-index: 1;
         background-color: #ffffff;
      }
   }
   main{
      #titulo{
         @include flexJustCenter;
         padding: 1rem 0rem 1rem 0rem;
         #tituloProyectos{
            font-size: 2.5rem;
         }    
      }
   .containerCards{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      #animacionCard{
         &:hover{
            transform: scale(1.1);
         } 
      }
      .proyectoCard1{
         @include flexCol;
         margin: 0.5rem;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
         img{
            height: 7.5rem;
            width: 19rem;
            object-fit: cover;
         }
      }
      .proyectoCard2{
         @include flexCol;
         margin: 0.5rem;
         a{
            padding-bottom: 1rem;
            font-size: 1.3rem;
         }
         img{
            height: 120px;
            width: 300px;
            object-fit: cover;
         }
      }
      .proyectoCard3{
         @include flexCol;
         margin: 0.5rem;
         a{
            padding-bottom: 0.2rem;
            font-size: 1.3rem;
         }
         img{
            height: 120px;
            width: 300px;
            object-fit: cover;
         }
      }
   }
   }  
}


//CONTACTO

//VISTA DESKTOP CONTACTO
@media only screen and (min-width: 1024px){
   .gridContacto{
      display: grid;
      grid-template-areas: "contactos formulario";
      padding: 5rem;
      grid-template-columns: 1fr 2fr;
      .contactos{
         grid-template-areas: contactos;
         justify-content: end;
         padding-right: 1rem;
      }
      .containerFormulario{
         grid-template-areas: formulario;
         h1{
            padding: 1rem 0rem;
         }
         .formulario{
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            div{
               padding:0rem 2rem 2rem 0rem;
               .campo{
                  display: block;
                  height: 2rem;
                  width: 100%;
               }
            }
            .botonEnviar{
               background-color: map-get($map: $boton, $key: bg-boton);
               border: map-get($map: $boton, $key: border-boton);
               border-radius: map-get($map: $boton, $key: border-radius-boton);
               padding: map-get($map: $boton, $key: padding-boton);
               .botonEnviar:active {
                  box-shadow: 1 2px #e4e2e2;
                  transform: translate(1px);
               }
            }
         }
      }
   }
}

//VISTA TABLET CONTACTO
@media only screen and (min-width: 768px) and (max-width:1023px){
   .gridContacto{
      display: grid;
      grid-template-areas: "contactos formulario";
      padding: 5rem;
      width: 90%;
      .contactos{
         grid-template-areas: contactos;
         justify-content: end;
         padding-right: 1rem;
      }
      .containerFormulario{
         grid-template-areas: formulario;
         width: 90%;
         h1{
            padding: 1rem 0rem;
         }
         .formulario{
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            div{
               padding:0rem 2rem 2rem 0rem;
               .campo{
                  display: block;
                  height: 2rem;
                  width: 130%;
               }
            }
            .botonEnviar{
               background-color: map-get($map: $boton, $key: bg-boton);
               border: map-get($map: $boton, $key: border-boton);
               border-radius: map-get($map: $boton, $key: border-radius-boton);
               padding: map-get($map: $boton, $key: padding-boton);
               .botonEnviar:active {
                  box-shadow: 1 2px #e4e2e2;
                  transform: translate(1px);
               }
            }
         }
      }
   }
}

//VISTA MOBILE CONTACTO
@media only screen and (max-width: 767px){
   .gridContacto{
      display: flex;
      flex-direction: column-reverse;
      grid-template-areas: "formulario"
                           "contactos";
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr;
      min-width: 100%;
      justify-items: center;
      align-items: center;
      justify-self: center;
      margin-top: 2rem;
   }
   .contactos{
      grid-template-areas: contactos;
      justify-items: end;
      gap: 2rem;
      margin: 1rem;
      display: flex;
      div{
         .body{
           display: none;   
         }
         a{
            text-decoration: none;
         }
      }
   }

   .containerFormulario{
      grid-template-areas: formulario;
      justify-content: center;
   }

   .formulario{
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
   }

   .campo{
      display: block;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom: solid 1px #444343;
      font-family: Montserrat ;
      font-size: 14px;
      height: 25px;
      width: 280px;
   }   
   
   .input{
      padding: 0.8rem;
   }

   .botonEnviar{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #2C2C2C;
      border-radius: 150px;
      padding: 10px 20px 10px 20px;
      font-family: jost,sans-serif;
      font-weight: 400 ;
      color: #0C0C0C;
      font-size: 16px;
      text-transform: uppercase;
      justify-content: end;
      margin: 1rem;
   }
}


//SOBRE MI

//VISTA DESKTOP SOBRE MI
@media only screen and (min-width: 1024px){
   main{
      .gridSobre{
         padding: 2rem 0rem 0rem 2rem;
         display: grid;
         grid-column-gap: 1rem; 
         grid-template-areas: "foto container";
         height: 80vh;
         justify-content: center;
         align-items: center;
         .fotoPresentación{
            grid-template-areas: foto;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 30rem;
            height: 200px;
            width: 400px;
            object-fit: cover;
         }
         .containerSobre{
            grid-template-areas: container;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 3rem;
            width: 640px;
         }
      }
   }
}

//VISTA TABLET SOBRE MI
@media only screen and (min-width: 768px) and (max-width:1023px){
   main{
      .gridSobre{
         display: grid;
         grid-template-areas: "foto"
                              "container";
         min-width: 100%;
         height: 85vh;
         justify-items: center;
         align-content: flex-start;
         justify-self: center;
         margin: 2rem 0rem 2rem 0rem;
         .fotoPresentacion{
            grid-template-areas: foto;
            display: block;
            justify-items: center;
            align-self: center;
            height: 25rem;
            width: 90%;
            object-fit: cover;
         }
         .containerSobre{
            grid-template-areas: container;
            display: block;
            justify-items: center;
            align-self: center;
            width: 80%;
            padding-left: 2.5rem;
            p{
               margin: 0.5rem 1rem 0.8rem 0rem;
               resize: both;
               overflow: auto;
            }
         }
      }
   }
}

//VISTA MOBILE SOBRE MI
@media only screen and (max-width: 767px){
   main{
      .gridSobre{
         display: grid;
         grid-template-areas: "foto"
                              "container";
         min-width: 100%;
         height: 95vh;
         justify-items: center;
         align-content:flex-start;
         justify-self: center;
         margin: 2rem 0rem 2rem 0rem;
         .fotoPresentacion{
            grid-template-areas: foto;
            display: block;
            justify-items: center;
            align-self: center;
            height: 7.5rem;
            width: 90%;
            object-fit: cover;
         }
         .containerSobre{
            grid-template-areas: container;
            display: block;
            justify-items: center;
            align-self: center;
            padding-left: 2.5rem;
            p{
               margin: 0.5rem 1rem 0.8rem 0rem;
               resize: both;
               overflow: auto;
            }
         }
      }
   }
}


//PROYECTO 1

//VISTA DESKTOP PROYECTO 1
@media only screen and (min-width: 1024px){
   main{
      .gridProyecto1{
         z-index: 999;
         min-height: 100%;
         height: 100%;
         display: grid;
         grid-column-gap: 1rem; 
         grid-template-areas: "info fotos";
         grid-template-columns: 1fr 2fr;
         margin-top: 1rem;
         justify-self: center;
         gap: 10rem;
         .infoProUno{
            grid-template-areas: info;
            position: sticky;
            top: 80px;
            align-self: flex-start;
            justify-content: center;
            margin-left: 8rem;
            padding: 3rem 2rem 0rem 0rem;
         }
         .fotos{
            grid-template-areas: fotos;
            margin-top: 3rem;
            margin-right: 1.5rem;
         }
      }
   }
   footer{
      position: relative;
   }
}


//VISTA TABLET PROYECTO 1
@media only screen and (min-width: 768px) and (max-width:1023px){
   main{
      .gridProyecto1{
         z-index: 999;
         min-height: 100%;
         height: 100%;
         margin-top: 1rem;
         justify-content: center;
         justify-items: center;
         margin-left: 8rem;
         .infoProUno{
            padding: 3rem 2rem 0rem 0rem;
         }
         .fotos{
            grid-template-areas: fotos;
            margin-top: 3rem;
            margin-right: 1.5rem;
            width: 80%;
         }
      }
   }
   footer{
      position: relative;
   }  
}


//VISTA MOBILE PROYECTO 1
@media only screen and (max-width: 767px){
   main{
      .gridProyecto1{
         z-index: 999;
         min-height: 100%;
         height: 100%;
         margin-top: 1rem;
         justify-content: center;
         justify-items: center;
         margin-left: 2rem;
         .infoProUno{
            padding: 3rem 2rem 0rem 0rem;
         }
         .fotos{
            grid-template-areas: fotos;
            margin-top: 3rem;
            margin-right: 1.5rem;
         }
      }
   }
   footer{
      position: relative;
   }  
}