.containerMain{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 1rem; 
   grid-template-areas: "titulo foto1 foto2 foto3";
   align-content: space-between;
   margin-top: 1rem;
   .tituloLanding{
      grid-area: titulo;
      display: block;
      justify-items: center;
      align-self: center;
   }
   .foto1{
      grid-area: foto1;
      display: block;
   }
   .foto2{
      grid-area: foto2;
      display: block;
   }
   .foto3{
      grid-area: foto3;
      display: block;
   }
}


.gridProyectos{
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "header header header"
                           "main main main"
                           "footer footer footer" ;
      grid-template-rows: 0.2fr 2fr 0.2fr;
      header{
         grid-area: header;
         width: auto;
      }
      main{
         grid-area: main;
         display: flex;
         flex-direction: column;
         padding: 4rem 0rem 0rem 2rem;
         div{
            #tituloProyectos{
               display: flex;
               justify-content: center;
               padding: 2rem;
            }
         }
         .containerCards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            #animacionCard{
               &:hover{
                  transform: scale(1.1);
               } 
            }
            .proyectoCard1{
               display: flex;
               flex-direction: column;
               margin: 30px;
            }
            .proyectoCard2{
               display: flex;
               flex-direction: column;
               margin: 30px;
            }
            .proyectoCard3{
               display: flex;
               flex-direction: column;
               margin: 30px;
            }
         }
      }
   }   


footer{
   grid-area: footer;
}



//container contacto

.gridContacto{
   display: grid;
   height: 80vh;
   grid-template-areas: "contactos formulario";
   padding: 5rem;
   .contactos{
      grid-template-areas: contactos;
      justify-content: end;
   }
   .containerContacto{
      grid-template-areas: formulario;
      h1{
         padding: 1rem 0rem;
      }
      .formulario{
         border: none;
         background-color: transparent;
         resize: none;
         outline: none;
         div{
            padding:0rem 2rem 2rem 0rem;
            .campo{
               display: block;
               border-top-style: none;
               border-right-style: none;
               border-left-style: none;
               border-bottom: solid 1px $color-negro;
               font-family: Montserrat ;
               font-size: 14px;
               height: 25px;
               width: 500px;
            }
         }
         .botonEnviar{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid $color-negro;
            border-radius: 150px;
            padding: 10px 20px 10px 20px;
            font-family: jost,sans-serif;
            font-weight: 400 ;
            color: #0C0C0C;
            font-size: 16px;
            text-transform: uppercase;
            justify-self: end;
         }
      }
   }
}

//grid sobre

main{
   .gridSobre{
      padding: 6rem 0rem 0rem 2rem;
      display: grid;
      grid-column-gap: 1rem; 
      grid-template-areas: "foto container";
      margin-top: 1rem;
      justify-content: center;
      .fotoPresentación{
         grid-template-areas: foto;
         display: block;
         justify-items: center;
         align-self: center;
         padding-left: 30rem;
      }
      .containerSobre{
         grid-template-areas: container;
         display: block;
         justify-items: center;
         align-self: center;
         padding-left: 3rem;
         width: 640px;
      }
   }
}



//grid proyecto

main{
   .gridProyecto1{
      display: grid;
      grid-column-gap: 1rem; 
      grid-template-areas: "info carousel";
      margin-top: 1rem;
      justify-self: center;
      gap: 10rem;
      .infoProUno{
         grid-template-areas: info;
         display: block;
         align-self: center;
         justify-content: center;
         width: 400px;
         margin-left: 8rem;
      }
      .carousel{
         grid-template-areas: carousel;
         display: block;
         justify-content: end;
         padding: 3rem;
      }
   }
   
}

